header
    h1=pageTitle
    nav
        ul
            li
                a(href='/') Home
            if !isLogin
                li
                    a(href='/login') Login
                li
                    a(href='/join') Join
            else
                li 
                    a(href='/logout') Logout
                li
                    a(href=`/users/${siteUser.username}`) Profile
            li
                a(href='/videos/upload') Upload
            li
                a(href='/search') Search